
/*Estilos barra busqueda*/



.barra{
    width: 100%;
    margin: auto;
    padding: 7px;
    display: block;
    outline: none;
    font-size: 17px;
    font-family: "Segoe UI";
}

/*Estilos name users*/

.users{
    width: 21%;
    margin: auto;
    font-size: 15px;
    font-family: "Segoe UI";
    text-align: center;
    border: 1px solid black;
}